
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  background-color: #A6797F;
}

.hometext {
  margin-top: 80px;
  /*border: 1px solid red;*/
}

li a {
  font-weight: bold;
  color: inherit;
}

#navbarNav li a:hover {
    color: #ffffff;
    font-weight: bold;
}

h1 {
  color: #4E2C30;
  text-align: right;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.subtitle {
  margin-left: 250px;
  margin-top: 20px;
}

h2 {
  color: #DECDCF;
  text-align: right;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Raleway', sans-serif;
}

.headhighlight {
  color: #ffffff;
  font-weight: 600;
}

.mynavbar {
  padding-top: 50px;
  padding-right: 90px;
  background-color: #A6797F;
  font-family: 'Raleway', sans-serif;
}

section {
  margin-top: 150px;
}

.header {
  font-size: 16px;
  font-weight: normal;
  color: #3F3F3F;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  margin-left: 600px;
  margin-top: 50px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



@media (max-width: 991.98px) {
  #face {
    position: relative;
    top: -600px;
    left: 80px;
    width: 185px;
    z-index: -1;
  }
 }

@media (min-width: 992px) {
  #face {
    position: relative;
    top: -480px;
    left: 111px;
    width: 290px;
    z-index: -1;
  }
}


.abctext {
  margin-top: 50px;
}

.subtitle_abc {
  margin-left: 250px;
  margin-top: 20px;
}

.appsugar {
  margin-top: -150px;
}

.subtitle_sugar {
  margin-left: 250px;
  margin-top: 20px;
}

.boxesforfriends {
  margin-top: -150px;
}

.subtitle_friends {
  margin-left: 250px;
  margin-top: 20px;
}


#lemon {
    position: relative;
    width: 700px;
    top:-130px;
    z-index: -1;

  }

#cupcake {
  position: relative;
  width: 700px;
  top:-180px;
  margin-left: -10px;
  z-index: -1;
}

#bff {
  position: relative;
  width: 800px;
  top:-160px;
  left: 30px;
  z-index: -1;
  transform: rotate(15deg);
}

#email {
  position: relative;
  width: 800px;
  top: 50px;
  margin-left: -100px;
  transform: rotate(-15deg);
  z-index: -1;


}

.about {
  margin-top: -150px;
}

.aboutpage {
  margin-top: -350px;
}

.subtitle_about {
  margin-left: 250px;
  margin-top: 20px;
}

.btn {
  border-color: #4E2C30;
  border-width: 2px;
  font-family: 'Raleway', sans-serif;
  color: #4E2C30;
  font-weight: 400;

}
.btn:hover {
  background-color: #4E2C30;
  color: #ffffff;
}

.buttonscontainer{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 700px;
  justify-content: space-between;
  font-weight: 400;
}

.link1 {
  margin-left: 780px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.link2 {
  margin-left: 780px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
}

.link3 {
  margin-left: 780px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
}


 a {
    color: #4E2C30;
    font-weight: 500;
}

a:hover
{
     color: #ffffff;
     text-decoration:none;
     cursor:pointer;
     font-weight: 500;
}
